services:

  hmpps-auth:
    image: quay.io/hmpps/hmpps-auth:latest
    networks:
      - hmpps
    container_name: hmpps-auth
    ports:
      - "9090:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/auth/health"]
    environment:
      - SPRING_PROFILES_ACTIVE=dev
      - APPLICATION_AUTHENTICATION_UI_ALLOWLIST=0.0.0.0/0

  hmpps-approved-premises-manage-a-resident-api:
    image: ghcr.io/ministryofjustice/hmpps-approved-premises-manage-a-resident-api:latest
    networks:
      - hmpps
    container_name: hmpps-approved-premises-manage-a-resident-api
    ports:
      - "8080:8080"
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ping"]
    environment:
      - HMPPS_AUTH_URL=http://hmpps-auth:8080/auth

networks:
  hmpps:
